body{
    font-family: 'Burbank Big Cd Bk', Arial, Helvetica, sans-serif;
    background-color: #161616;
}
.box{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 130%;
    left: 20%;
    transform: translate(-30%,-50%);
    background-color: white;
    padding: 0px;
    border-radius: 15px;
    width: 20%;
}

fieldset{
    border: 5px solid rgb(0, 0, 0);
}

h2{
    font-size: 30px;
    padding-top: 270%;
    padding-left: 100%;

}
